* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E; 
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #587607; 
    border-radius: 50%;
    position: fixed;
    filter:blur(100px);
    z-index: 9;
}
#nav{
   height: 65px; 
   width: 100%;
   display: flex;
   align-items: center;
   padding: 0 100px;
   gap: 50px;
   position: fixed;
   justify-content: flex-start;
   z-index: 99;
}
#nav img{
    height: 35px; 
    background-color: #95C11E; 
    border-radius: 20px; 
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0,0,0,0.50);


}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    text-align: center;
}
#page1 h1{
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;    
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500px;
    width: 40%;
}
#page2{
    height: 100vh;
    width: 100%;
    z-index: 10; 
}
#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
}
#scroller h3{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: system-ui;
    margin-right: 20px;
    color: black;
    cursor: default;
    -webkit-text-stroke: 0.5px white;
}
#scroller h3:hover{
    color: #95C11E;
    -webkit-text-stroke:white;
}
@keyframes scroll{
     from{transform: translate(0);}
     to{transform: translate(-100%);}
}
#about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-around;
}
#about-us h2{
   font-size: 54px;
   font-weight: 900;
   margin-top: 140px;
   margin-bottom: 30px;
}
#about-us img{
    height: 165px;
    width: 165px;
    margin-top: 200px;
    border-radius: 10px;
    object-fit: cover;
}
#about-us-in{
    width: 40%;
    text-align: center;
}
#about-us-in p{
    font-size: 20px;
    line-height: 30px;
}
#page3{
    height: 100vh;
    width: 100%;
    z-index: 10; 
}
#card-container{
    background-color: transparent;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    gap: 70px;
}
#page2 img{
    height: 30vh;
    width: 25vh;
    margin-left: 100px;
    margin-top: 170px;
}
.card{
    height: 100%;
    width: 25%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}
#card2{
   background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3{
   background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&fit=1024%2C682&ssl=1);
}
.overlay{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding-top: 120px;
    background-color: #95C11E;
    opacity:0;
    transition: all ease 0.5s;
}
.overlay h4{
    font-size: 40px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}
.overlay p{
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px; 
    font-weight: 500;
    margin-top: 30px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,25deg);
}
#green-div{
    height: 35vh;
    display: flex;
    margin-top: 80px;
    background:linear-gradient(to left bottom,#039c3d,#95c11e);
    justify-content: space-between;
    align-items: center;
}
#green-div h4{
    width: 50%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 180px;
}
#paragraph{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#paragraph p{
    font-size: 30px;
    font-weight: 700;
    width: 55%;
    line-height: 45px;
    text-align: center;
}
#paragraph img{
    height: 50px;
    position: absolute;
}
#paragraph #colon1{
    left: 15%;
    top: 20%;
}
#paragraph #colon2{
    right: 15%;
    bottom: 20%;
}
/* #page4{
    height: 50vh;
    width: 100%;
    background-color: #ba0505;
} */